/* Intranet */
div.noBullet ul {
    list-style: none;
}

.custAlert{
    position:relative;
    padding:.75rem 1.25rem;
    margin-bottom:1rem;
    border:1px solid transparent;
    border-radius:.25rem
}

.body-padding {
    padding: 5em 0 5em 0;
}

.center{
    margin: auto;
}

img.inverted{
    filter: invert(1);
}

img.sponsor{
max-width: 200px
}

.black{
background-color: black;
}

.black-title{
color: white;

}

hr.linebreak{
    color: darkgray;
    width: 50%;
    margin: 0;
}

.carouselItem{
max-width: 600px;
}

.carousel-item>img{
    margin: auto;
}