/* Intranet */
div.noBullet ul {
    list-style: none;
}

.custAlert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem
}

.body-padding {
    padding: 5em 0 5em 0;
}

.body-padding-bottom {
    padding-bottom: 5em;
}

.center {
    margin: auto;
}

img.inverted {
    filter: invert(1);
}

img.sponsor {
    max-width: 200px
}

.black {
    background-color: black;
}

.black-title {
    color: white;

}

hr.linebreak {
    color: darkgray;
    width: 50%;
    margin: 0;
}

.carouselItem {
    max-width: 100%;
}

/*
.carousel{
max-height: 75vh;
max-width: auto;
}*/

.carousel > * {
    min-width: none;
}

.carousel-item > img {
    margin: auto;
    object-fit: contain;
}

/*
.carousel .item {
  min-width: 100%;
  background-color: #fff;
}
*/

.left-border-yellow {
    border-left: 5px solid #fad62f !important;
    min-width: fit-content;
}

.right-border-yellow {
    border-right: 5px solid #fad62f !important;
    min-width: fit-content;
}

.inner {
    margin: 15px;
    max-width: 50vw;
}

.schildimg {
    max-height: 300px;
    max-width: 300px;
    padding-bottom: 15px;
}

.eventbox {
    width: 50vw;
    height: 30vh;
    border: 2px solid grey;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 50px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 50px 0px rgba(0, 0, 0, 0);
    margin: auto;
}

section.main-box {
    margin-top: 5vh;
}

@media only screen and (min-width: 768px) {
    section.main-first {
        margin-top: 8vh;
    }
}

@media only screen and (min-width: 992px) {
    section.main-first {
        margin-top: 10vh;
    }
}

.praesidia-select {
    max-width: 10em;
}

.gallery_product {
    margin-bottom: 30px;
}

.owl-carousel .owl-item {
    height: 40em;
    width: 100%;
}

.event-calendar .card {
    border-radius: 0;
    border: none;
}

.event-calendar-item {
    padding: 1em;
}

.event-calendar .event-calendar-item .event-calendar-item-date {
    margin: 0 0.5em 0.5em 0.5em;
    padding: 1em;
    background-color: black;
    border-radius: 5px;
}

.event-calendar .event-calendar-item .event-calendar-item-date h1 {
    color: #fad62f;
}

.event-calendar .event-calendar-item .event-calendar-item-date h2 {
    color: #fad62f;
}
.event-calendar .event-calendar-item .event-calendar-item-date:hover {
    background-color: black;
}

.event-calendar .event-calendar-item .event-calendar-item-date h1:hover {
    color: white;
}

.event-calendar .event-calendar-item .event-calendar-item-date h2:hover {
    color: white;
}
