/* Intranet */
div.noBullet ul {
    list-style: none;
}

.custAlert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem
}

/* Algemene customization */

.body-padding {
    padding: 5em 0 5em 0;
}

.body-padding-bottom {
    padding-bottom: 5em;
}

.center {
    margin: auto;
}

img.inverted {
    filter: invert(1);
}

.btn-heimdal {
    color: white;
    background-color: black;
    border-color: black;
    font-weight: bold;
}

.btn:hover {
    color: #fad62f !important;
}


.left-border-yellow {
    border-left: 5px solid #fad62f !important;
    min-width: fit-content;
}

.right-border-yellow {
    border-right: 5px solid #fad62f !important;
    min-width: fit-content;
}

.top-border-yellow {
    border-top: 5px solid #fad62f !important;
    min-width: fit-content;
}

.bottom-border-yellow {
    border-bottom: 5px solid #fad62f !important;
   /* min-width: fit-content;*/
}

.inner {
    margin: 15px;
    max-width: 50vw;
}

/* base.html sponsor */

img.sponsor {
    max-width: 200px;
    transition: transform .2s;
}

img.sponsor:hover {
    transform: scale(1.5);
}

.black {
    background-color: black;
}

.black-title {
    color: white;

}

hr.linebreak {
    color: darkgray;
    width: 50%;
    margin: 0;
}

.carouselItem {
    max-width: 100%;
}

.carousel > * {
    min-width: none;
}

.carousel-item > img {
    margin: auto;
    object-fit: contain;
}

.schildimg {
    max-height: 300px;
    max-width: 300px;
    padding-bottom: 15px;
}

.eventbox {
    width: 50vw;
    height: 30vh;
    border: 2px solid grey;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 50px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 50px 0px rgba(0, 0, 0, 0);
    margin: auto;
}

section.main-box {
    margin-top: 5vh;
}

@media only screen and (min-width: 768px) {
    section.main-first {
        margin-top: 8vh;
    }
}

@media only screen and (min-width: 992px) {
    section.main-first {
        margin-top: 10vh;
    }
}

.praesidia-select {
    max-width: 10em;
}

.gallery_product {
    margin-bottom: 30px;
}

/* base.html picture carousel */

.picture-carousel .owl-item {
    height: 40em;
    width: 100%;
}

/* events.html */

.event-calendar .card {
    border-radius: 0;
    border: none;
}

.event-calendar-item {
    padding: 1em;
}

.event-calendar .event-calendar-item .event-calendar-item-date {
    margin: 0 0.5em 0.5em 0.5em;
    padding: 1em;
    background-color: black;
    border-radius: 5px;
}

.event-calendar .event-calendar-item .event-calendar-item-date h1 {
    color: white;
}

.event-calendar .event-calendar-item .event-calendar-item-date h2 {
    color: white;
}
.event-calendar .event-calendar-item .event-calendar-item-date:hover {
    background-color: black;
}

.event-calendar .event-calendar-item .event-calendar-item-date h1:hover {
    color: white;
}

.event-calendar .event-calendar-item .event-calendar-item-date h2:hover {
    color: white;
}

/* base.html */

.events-carousel .carousel-item .card {
    height: 18em;
}

.events-carousel .carousel-item .card .card-header {
    vertical-align: center;
}

.events-carousel .carousel-item .card img {
    max-height: 12.5em;
    object-fit: contain;
}

.events-carousel .carousel-item .card .card-header h4 {
    height: 2em;
}

.events-carousel .carousel-item {
   height: 20em;
}

.events .card {
    border-radius: 0;
    border: 0;
}

.events .card .card-header {
    border: none;
    background: transparent;
    padding: 0;
}

.events .card p {
    margin: 0;
    color: black !important;
}

/* event.html */

.portfolio-details-container .portfolio-details-carousel img {
    max-height: 30em;
    object-fit: contain;
}

#graph-container{
height: 75vh;
width: 100vw;
margin: auto;
margin-top: 5vh;
}

/* Toggle Button */
.toggle-on.btn {
    padding-left: 0.5em;
}
.toggle-off.btn {
    padding-left: 0.5em;
}


.cms-content * {
    list-style-type: none;
}