SECRET_KEY= <django_secret_key>

DEBUG=0
ALLOWED_HOSTS= <allowed_hosts>
CSRF_TRUSTED_ORIGINS= <csrf_trusted_origins>

# Database Settings
DATABASE_URL=postgres://jormungandr:<postgress_password>@db:5432/jormungandr?sslmode=disable

# AWS Settings
USE_S3=TRUE
AWS_ACCESS_KEY_ID=<aws_access_key_id>
AWS_SECRET_ACCESS_KEY=<aws_secret_access_key>
AWS_STORAGE_BUCKET_NAME=<aws_storage_bucket_name>

# Postgres Settings
POSTGRES_DB=jormungandr
POSTGRES_USER=jormungandr
POSTGRES_PASSWORD=<postgres_paswoord>