{% extends 'Portal/base.html' %}
{% load user_tags %}

{% block body %}
<section class="container text-center mt-5">
    <div class="row pb-5">

        <div class="col-sm-12">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'Portal:index' %}">Portal</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Events</li>
                    <li class="breadcrumb-item active" aria-current="page">Overview</li>
                </ol>
            </nav>


            <div>
                <form method="post">
                    {%  csrf_token %}
                    <div class="controls">

                        <div class="control">
                            <!--Selection-->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="selectAll" value=""
                                       id="selectAll">
                                <label class="form-check-label" for="selectAll">Select/deselect all</label>
                            </div>

                            <!--Action-->
                            <div id="actions">
                                <select name="" id="" class="custom-select custom-select-sm"
                                        aria-label="Which action should be taken?">
                                    {% for action in actions %}
                                    <option value="{{action}}">{{action}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="perform">
                            <button class="btn btn-primary" type="submit">Perform action</button>
                        </div>

                    </div>


                </form>
            </div>

        </div>
    </div>
</section>
<style>
    .card {
        background-image: url({{ urls|lookup:'portal_card' }})
    }








</style>
{% endblock %}
