{% extends 'Portal/base.html' %}
{% load user_tags %}

{% block body %}
<section class="container text-center mt-5">
    <div class="row pb-5">

        <div class="col-sm-12">

            <div class="card-deck deck-1 deck-sm-2 deck-md-3">
                <a href="{% url 'Portal:events' %}" class="card">
                    <div class="card-body">
                        <div class="display-1 card-title">Events</div>
                        </p>
                    </div>
                </a>
                <a href="{% url 'index' %}" class="card">
                    <div class="card-body">
                        <div class="display-1 card-title">Ledenlijst</div>
                        </p>
                    </div>
                </a>
                <a href="{% url 'index' %}" class="card">
                    <div class="card-body">
                        <div class="display-1 card-title">Meldingen</div>
                        </p>
                    </div>
                </a>

                <a href="{% url 'index' %}" class="card">
                    <div class="card-body">
                        <div class="display-1 card-title">Foto's</div>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<style>
    .card {
        background-image: url({{ urls|lookup:'portal_card' }})
    }
</style>
{% endblock %}
