{% extends 'Portal/base.html' %}
{% load user_tags %}

{% block body %}
<section class="container text-center mt-5">
    <div class="row pb-5">

        <div class="col-sm-12">

            <div class="row card-deck">

                <div class="col-md-4 card-container">
                    <div class="card-flip">
                        <div class="card front">
                            <!-- card content -->
                            <div class="card-img-overlay d-flex justify-content-center align-items-center">
                                <h4 class="card-title display-1">Test</h4>
                            </div>
                            <img class="card-img img-fluid" src="https://dummyimage.com/600x400/FFD700/ffffff&text=+"
                                 alt="">

                        </div>
                        <div class="card back">
                            <!-- card content -->
                            <div class="description">
                                Hier kan je events beheren. Naast het bekijken van al je events, kan je er toevoegen,
                                verwijderen en aanpassen. Ook kan je direct een melding voor de Discord event-meldingen
                                klaarzetten en schedulen.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 card-container">
                    <div class="card-flip">
                        <div class="card front">
                            <!-- card content -->
                            <div class="card-img-overlay d-flex justify-content-center align-items-center">
                                <h4 class="card-title display-1">Test</h4>
                            </div>
                            <img src="https://dummyimage.com/600x400/bfa600/ffffff&text=+" alt="">
                        </div>
                        <div class=" card back">
                            <!-- card content -->
                            <p>Test</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 card-container">
                    <div class="card-flip">
                        <div class="card front">
                            <!-- card content -->
                            <div class="card-img-overlay d-flex justify-content-center align-items-center">
                                <h4 class="card-title display-1">Test</h4>
                            </div>
                            <img src="{{ urls|lookup:'portal_card' }}" alt="">
                        </div>
                        <div class=" card back">
                            <!-- card content -->
                            <p>Test</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}