{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Heimdal {% block title %}{% endblock %}</title>
    <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon">

    {% include 'Jormungandr/stylesheets.html' %}
</head>
<body>
{% include 'Jormungandr/navigation.html' %}
{% block banner %}{% endblock %}
<!-- Main Wrapper -->
<main id="main">
    {% if contact == 'ok' %}
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div style="margin-top: 100px" class="alert alert-success alert-dismissible fade show" role="alert">
                        <h3>Succesvol verzonden</h3>
                        <p>Terug naar <a href="{% url 'index' %}">home</a></p>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% elif contact == 'failed' %}
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div style="margin: 100px" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <h3>Er liep iets mis</h3>
                        <p>Terug naar <a href="{% url 'index' %}">home</a>. Of probeer het <a href="{{ request.path|urlencode }}#contact">opnieuw</a> </p>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}


    {% block body %}{% endblock %}

    <!--TODO Refactor to proper table-->

    <section class="black" id="sponsors">
        <div class="container">
            <div class="section-title" data-aos="fade-in" data-aos-delay="100">
                <h2 class="black-title">Onze sponsors</h2>

                <div class="section-title" data-aos="fade-in" data-aos-delay="100">
                    <div class="row h-100">

                        {% for sponsor in sponsors %}

                            <div class="col-md-4 col-sm-6 col-12 my-auto">

                                <a href="{{ sponsor.website }}" target="_blank">
                                    <img
                                            src="{{ sponsor.logo.url }}"
                                            class="sponsor {% if sponsor.invertedcolor %} inverted {% endif %}"
                                            alt="{{ sponsor.name }}">
                                </a>
                            </div>

                            <!--&lt;!&ndash;width="300" height="75"&ndash;&gt;-->
                            <!--&lt;!&ndash;sizes="(max-width: 300px) 100vw, 300px"&ndash;&gt;-->
                            <!--&lt;!&ndash;srcset="https://heimdal.xcdn.eu/wp-content/uploads/2018/04/hogent-300x75.png 300w, https://heimdal.xcdn.eu/wp-content/uploads/2018/04/hogent.png 600w"&ndash;&gt;-->


                        {% endfor %}


                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

<hr class="linebreak">

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div id="contact" class="footer-info" data-aos="fade-up" data-aos-delay="50">
                        <h3>Heimdal</h3>
                        <p class="pb-3"><em>Heimdal is een studentenvereniging opgebouwd uit eigen initiatief door een
                            groep studenten, die geassocieerd zijn met de Hogeschool Gent en geïnteresseerd zijn in
                            Geeky Stuff, samen wilt brengen.</em></p>
                        <p>
                            Valentin Vaerwijckweg 1 <br>
                            9000 Gent<br><br>
                            <strong>Website:</strong> <a href="{% url 'index' %}">heimdal.be</a><br>
                            <strong>Email:</strong> <a href="mailto:gate@heimdal.be">gate@heimdal.be</a><br>
                        </p>
                        <div class="social-links mt-3">
                            <a href="https://www.facebook.com/heimdal.be" class="facebook"><i
                                    class="bx bxl-facebook"></i></a>
                            <a href="https://www.instagram.com/heimdal.be/?hl=en" class="instagram"><i
                                    class="bx bxl-instagram"></i></a>
                            <a href="https://www.linkedin.com/company/heimdal-be/" class="linkedin"><i
                                    class="bx bxl-linkedin"></i></a>
                            <a href="https://www.twitch.tv/heimdalvzw" class="twitch"><i class="bx bxl-twitch"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="150">
                    <h4>Handige Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'index' %}">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'cms' 'overons' %}">Over ons</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'praesidium' %}">Praesidium</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'events' %}">Evenementen</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'albums' %}">Foto's</a></li>
                    </ul>
                </div>

                <div class="col-lg-6 contact" data-aos="fade-up" data-aos-delay="350">
                    <h4>Contact</h4>
                    <form action="{% url 'sendmail' %}?next={{ request.path|urlencode }}" method="post"
                          class="email-form">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                       data-rule="minlen:4" data-msg="Please enter at least 4 chars" required/>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="email" class="form-control" name="email" id="email"
                                       placeholder="Your Email" data-rule="email"
                                       data-msg="Please enter a valid email" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                                   data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" required/>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required"
                                      data-msg="Please write something for us" placeholder="Message"
                                      required></textarea>
                        </div>
                        <div class="text-center">
                            <button type="submit">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            &copy; Copyright {% now 'Y' %} <strong><span class="footer-heimdal-name">Heimdal.be</span></strong>. All
            Rights Reserved
        </div>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

{% include 'Jormungandr/scripts.html' %}
</body>
</html>