{% extends 'Jormungandr/base.html' %}
{% load static %}
{% block title %} | Home{% endblock %}
{% block banner %}
<section id="" class="main-first">
    <div class="" data-aos="fade-up">
        <!--hero-container-->
        <!--<p>[This site and its content are still under construction.]</p>-->
        <!--<h1>Heimdal.be - By Students</h1>-->
        <!--<h2>Heimdal is een studentenvereniging opgebouwd uit eigen initiatief door een groep studenten. Studenten die-->
        <!--graag andere mensen, die geassocieerd zijn met de Hogeschool Gent en geïnteresseerd zijn in Geeky Stuff,-->
        <!--samen wilt brengen.</h2>-->
        <!--<a href="#team" class="btn-get-started scrollto"><i class="bx bx-chevrons-down"></i></a>-->


        <div class="outer debug">
            <div class="inner row justify-content-center">
                <div class="col-sm-8 col-12">
                    <h4>Wie zijn we</h4>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a aliquet elit. Integer in
                        fermentum
                        nisi, non consequat quam. Nulla nec metus in erat laoreet tincidunt at ac est. Vivamus euismod
                        augue
                        nunc, vel ullamcorper purus bibendum ut. In dignissim viverra neque in mattis. Cras ut dolor
                        quis
                        metus
                        vulputate aliquam.</p>

                </div>

                <img class="schildimg" src="{% static 'img/Schild_Normal.png' %}" alt="Schild">

            </div>
        </div>
    </div>


    </div>
</section>


<section class="main-box">
    <div class="eventbox">
        <!--TODO invullen-->
    </div>
</section>
{% endblock %}
{% block body %}
<!-- ======= Team Section ======= -->
<section id="team" class="team">
    <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">

            <h2>Sfeerfoto's</h2>

            <!--Carousel-->

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="2000">


                <ol class="carousel-indicators">
                    {% for number in carousel %}


                    <li data-target="#carouselIndicators" data-slide-to="{{ forloop.counter0 }}"
                        class="{% if forloop.counter0 is 0 %} active {% endif %}"></li>

                    {% endfor %}
                </ol>


                <div class="carousel-inner">
                    {% for item in carousel %}
                    <div class="carousel-item {% if forloop.counter0 is 0%} active {% endif %}">
                        <img class="d-block w-100 carouselItem" src="{{item.link}}"
                             alt="{{item.name}}">
                    </div>

                    {% endfor %}
                </div>

            </div>

            <!--End Carousel-->

        </div>
    </div>
</section><!-- End Team Section -->


{% endblock %}


<!--  INSTITUTEN  -->

<!--<div class="section-title" data-aos="fade-in" data-aos-delay="100">-->
<!--<h2>Onze studenten zijn afkomstig van</h2>-->


<!--&lt;!&ndash;TODO Add new logos&ndash;&gt;-->

<!--<div class="row">-->
<!--<div class="col-md-4 col-sm-6 col-12">-->
<!--<a href="https://www.hogent.be/" target="_blank">-->
<!--<img-->
<!--width="300" height="75"-->
<!--src="https://heimdal.xcdn.eu/wp-content/uploads/2018/04/hogent-300x75.png"-->
<!--class="inverted" alt="Hogeschool Gent"-->
<!--srcset="https://heimdal.xcdn.eu/wp-content/uploads/2018/04/hogent-300x75.png 300w, https://heimdal.xcdn.eu/wp-content/uploads/2018/04/hogent.png 600w"-->
<!--sizes="(max-width: 300px) 100vw, 300px">-->
<!--</a>-->
<!--</div>-->
<!--<div class="col-md-4 col-sm-6 col-12">-->
<!--<a href="https://schoolofartsgent.be/en/" target="_blank">-->
<!--<img width="211" height="150"-->
<!--src="https://heimdal.xcdn.eu/wp-content/uploads/2018/04/kask-1.png"-->
<!--class=inverted"-->
<!--alt="School Of Arts Gent">-->
<!--</a>-->
<!--</div>-->
<!--<div class="col-md-4 col-sm-6 col-12">-->
<!--<a href="https://www.ugent.be/" target="_blank">-->
<!--<img width="193" height="150"-->
<!--src="https://heimdal.xcdn.eu/wp-content/uploads/2018/04/universiteit-1.png"-->
<!--class="inverted"-->
<!--alt="Universiteit Gent">-->
<!--</a>-->
<!--</div>-->
<!--<div class="col-md-4 col-sm-6 col-12">-->
<!--<a href="https://www.arteveldehogeschool.be/" target="_blank">-->
<!--<img width="300" height="141"-->
<!--src="https://heimdal.xcdn.eu/wp-content/uploads/2018/04/artevelde-1-300x141.png"-->
<!--class="inverted"-->
<!--alt="Artevelde Hogeschool"-->
<!--srcset="https://heimdal.xcdn.eu/wp-content/uploads/2018/04/artevelde-1-300x141.png 300w, https://heimdal.xcdn.eu/wp-content/uploads/2018/04/artevelde-1.png 320w"-->
<!--sizes="(max-width: 300px) 100vw, 300px">-->
<!--</a>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->

