{% load static %}
{% load user_tags %}
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex">

        <div class="logo mr-auto">
            <!-- <h1 class="text-light"><a href="{% url 'index' %}" id="logo"><span>Heimdal</span></a></h1>-->
            <!-- Uncomment below if you prefer to use an image logo -->
            <a href="{% url 'index' %}"><img src="{% static 'img/Heimdal Banner black.png' %}" alt="Heimdal Banner"
                                             class="banner-logo img-fluid"></a>
        </div>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="drop-down"><a href="">Over ons</a>
                    <ul>
                        <li><a href="{% url 'cms' 'overons' %}">Over ons</a></li>
                        <li><a href="{% url 'events' %}">Evenementen</a></li>
                        <li><a href="https://stefbondroit.be" target="_blank">Ereleden</a></li>
                        <li><a href="{% url 'albums' %}">Foto's</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'praesidia' %}">Praesidium</a></li>
                {% if user.is_authenticated %}
                    <li class="drop-down"><a href="#">Leden</a>
                        <ul>
                            <li><a href="{% url 'Intranet:index' %}">Intranet</a></li>
                            <li><a href="{% url 'Intranet:voting' %}">Stemmen</a></li>
                            <li><a href="{% url 'Intranet:edit_profile' %}">Profiel</a></li>
                            {% if user|has_group:"ICT" %}
                                <a class="dropdown-item" href="/admin">Admin</a>
                            {% endif %}
                            <li><a href="{% url 'Intranet:logout_user' %}">Uitloggen</a></li>

                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'Intranet:index' %}">Leden</a></li>
                {% endif %}
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Header -->