{% load static %}
{% load user_tags %}
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex">

        <div class="logo mr-auto">
            <!-- <h1 class="text-light"><a href="{% url 'index' %}" id="logo"><span>Heimdal</span></a></h1>-->
            <!-- Uncomment below if you prefer to use an image logo -->
            <a href="{% url 'index' %}"><img src="{% static 'img/Heimdal Banner black.png' %}" alt="Heimdal Banner"
                                             class="banner-logo img-fluid"></a>
        </div>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                {% for nav in menu %}
                    <!--- IF THERE IS EVER A USERROLE ADDED OR DELETED, THIS NUMBER HAS TO BE CHANGED-->
                    {% if nav.role == 5 %}
                        {% if nav.get_sub %}
                            <li class="drop-down"><a href="">{{ nav.titel }}</a>
                                <ul>
                                    <li><a href="{{ nav.url }}">{{ nav.titel }}</a></li>
                                    {% for subnav in nav.get_sub %}
                                        <li><a href="{{ subnav.url }}">{{ subnav.titel }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="{{ nav.url }}">{{ nav.titel }}</a></li>
                        {% endif %}
                    {% else %}
                        {% if user.is_authenticated and nav.role >= user.profile.role %}
                            {% if nav.get_sub %}
                                <li class="drop-down"><a href="">{{ nav.titel }}</a>
                                    <ul>
                                        <li><a href="{{ nav.url }}">{{ nav.titel }}</a></li>
                                        {% for subnav in nav.get_sub %}
                                            <li><a href="{{ subnav.url }}">{{ subnav.titel }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% else %}
                                <li><a href="{{ nav.url }}">{{ nav.titel }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {% if user.is_authenticated and user.profile.role < 5 %}
                    <li class="drop-down"><a href="#">Leden</a>
                        <ul>
                            <li><a href="{% url 'Intranet:index' %}">Intranet</a></li>
                            <li><a href="{% url 'Intranet:voting' %}">Stemmen</a></li>
                            <li><a href="{% url 'Intranet:edit_profile' %}">Profiel</a></li>
                            {% if user.profile.role <= 3 %}
                                <li><a href="/admin">Website-beheer</a></li>
                            {% endif %}
                            <li><a href="{% url 'Intranet:logout_user' %}">Uitloggen</a></li>

                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'Intranet:index' %}">Leden</a></li>
                {% endif %}
                <li><a href="#contact">Contact</a></li>

            </ul>
        </nav>

    </div>
</header><!-- End Header -->