{% extends 'Jormungandr/base.html' %}
{% load static %}
{% block title %} | Gallerij{% endblock %}
{% block body %}
    <div class="container">
        <section class="breadcrumbs">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Album {{ album.name }}</h2>
                <ol>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'albums' %}">Foto's</a></li>
                    <li>Album {{ album.name }}</li>
                </ol>
            </div>
        </section>
    </div>

    <section id="portfolio" class="portfolio">
        <div class="container">

            <div class="section-title" data-aos="fade-in" data-aos-delay="100">
                <h2>Foto's</h2>
                <p>
                    Gepost op {{ album.created_at|date:'d/m/Y' }}
                </p>
            </div>

            <div class="row portfolio-container" data-aos="fade-up">
                {% for picture in album.picture_set.all %}
                    <div class="col-lg-4 col-md-6 portfolio-item">
                        <div class="portfolio-wrap">
                            <img src="{{ picture.link }}" class="img-fluid" alt="">
                            <div class="portfolio-links">
                                <a href="{{ picture.link }}" data-gall="portfolioGallery"
                                   class="venobox"
                                   title="{{ picture.name }}"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </section><!-- End Portfolio Section -->
{% endblock %}