{% extends 'Jormungandr/base.html' %}
{% load user_tags %}
{% load static %}
{% block title %} | Praesidium {% endblock %}
{% block body %}
    <!-- ======= Praesidium Section ======= -->
    <div class="body-padding">
        <section id="team" class="team">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 shadow-lg left-border-yellow">
                        <div class="text-center p-5">
                            <h2 class="mb-4">Kies een jaar</h2>
                            <form action="" class="col-sm-12 form align-items-center">
                                <div class="row justify-content-center">
                                    <select onchange="submit()" name="year" id="year"
                                            class="form-control praesidia-select">
                                        {% for year in years %}
                                                <option value="{{ year.start|date:'Y' }}"
                                                        {% if year.start|date:'Y' == selectedyear.start|date:'Y' %}selected="selected"
                                                        {% endif %}>
                                                    {% if year.display_name %}
                                                        {{ year.display_name }}
                                                    {% else %}
                                                        {{ year.start|date:'Y' }} - {{ year.end|date:'Y' }}
                                                    {% endif %}
                                                </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                {% if praesidium %}
                    <div class="section-title pt-5" data-aos="fade-in" data-aos-delay="100">
                        {% if praesidium.0.praesidium_function|lower == "superschacht"|lower %}
                            <h2>Superschachten van Heimdal</h2>
                            <p>
                                Deze schachtjes hebben zich volop gegeven tijdens hun schachtenjaar en de meeste schachtenpuntjes
                                verzameld.
                            </p>
                        {% elif praesidium.0.praesidium_function|lower == "erelid"|lower %}
                            <h2>Ereleden van Heimdal</h2>
                            <p>
                                Deze ereleden hebben jaren lang het uiterste gegeven voor de vereniging en daarom staan
                                ze hier in de bloemetjes.
                            </p>
                        {% else %}
                            <h2>Praesidium {{ selectedyear.start|date:'Y' }} - {{ selectedyear.end|date:'Y' }}</h2>
                            <p>
                                Dit jaar geven onderstaande mensen het beste van zichzelf om alles in goede banen te leiden
                                binnen Heimdal.
                            </p>
                        {% endif %}
                    </div>

                    <div class="row pt-5">
                        {% for lid in praesidium %}
                            <div class="col-lg-4 col-md-6 " style="margin-bottom: 75px">
                                <!--Base info-->
                                <div class="member extendable" data-aos="fade-up">
                                    <div class="pic"><img src="{{ lid.photo }}" class="img-fluid"
                                                          alt="{{ lid.praesidium_member.first_name }} {{ lid.praesidium_member.last_name }}"
                                                          loading="lazy">
                                    </div>
                                    <div class="member-info">
                                        <h4>{{ lid.praesidium_member.first_name }} {{ lid.praesidium_member.last_name }}</h4>
                                        <span>{{ lid.praesidium_function.name }}</span>
                                        <div class="social" style="font-style: italic;">
                                            {% if lid.praesidium_member.linkedin_link %}
                                                <a href="{{ lid.praesidium_member.linkedin_link }}" target="_blank"><i
                                                        class="icofont-linkedin"></i></a>
                                            {% endif %}
                                            {% if lid.praesidium_member.facebook_link %}
                                                <a href="{{ lid.praesidium_member.facebook_link }}" target="_blank"><i
                                                        class="icofont-facebook"></i></a>
                                            {% endif %}
                                            {% if lid.praesidium_member.instagram_link %}
                                                <a href="{{ lid.praesidium_member.instagram_link }}" target="_blank"><i
                                                        class="icofont-instagram"></i></a>
                                            {% endif %}
                                            {% if lid.praesidium_member.twitter_link %}
                                                <a href="{{ lid.praesidium_member.twitter_link }}" target="_blank"><i
                                                        class="icofont-twitter"></i></a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="section-title pt-5" data-aos="fade-in" data-aos-delay="100">
                        <h2>Geen praesidiumleden gevonden voor {{ selectedyear.start|date:'Y' }} - {{ selectedyear.end|date:'Y' }}</h2>
                    </div>
                {% endif %}
            </div>
        </section>
    </div>
{% endblock %}