{% extends 'Jormungandr/base.html' %}
{% load user_tags %}
{% load static %}
{% block title %} | Praesidium {% endblock %}
{% block body %}
<!-- ======= Services Section ======= -->
<div class="body-padding">
    <section id="team" class="team">
        <div class="container">
            <div class="section-title" data-aos="fade-in" data-aos-delay="100">

                <div class="row" style="margin-bottom: 50px">
                    <div class="col">
                        <form action="">
                            <select onchange="submit()" name="year" id="year">

                                {% for year in years %}
                                <option value="{{ year.id }}" {% if year.id == selectedyear %}selected="selected"
                                        {% endif %}>
                                    {{ year }}
                                </option>
                                {% endfor %}

                            </select>
                        </form>
                    </div>
                </div>

                <div class="row" id="extendedinfo hide">


                </div>


                <div class="row">
                    {% for lid in praesidium %}


                    <div class="col-lg-4 col-md-6 " style="margin-bottom: 75px">

                        <!--Base info-->
                        <div class="member extendable" data-aos="fade-up" data-member="{{ lid.id }}">
                            <div class="pic"><img src="{% static 'img/team/homer.png' %}" class="img-fluid" alt="">
                            </div>
                            <div class="member-info">
                                <h4>{{ lid.name }}</h4>
                                <span>{{ lid.function.name }}</span>
                                <div class="social" style="font-style: italic;">
                                    {% if lid.quote %}
                                    {{ lid.quote }}
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>


                    {% endfor %}
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="modal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">

                        <div class="modal-body">
                            <p>Some text in the modal.</p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">

    let data
    let modal
    let modalOpenable

    $(document).ready(function() {
        data = JSON.parse("{{quotes|escapejs}}")
        let temp = $("#modal")
        modalOpenable = !!temp.length
        if(modalOpenable)
        modal=$("#modal")[0]
    })

    $("div.extendable").click(function() {
        let clicked=$(this)[0]
        let member = $(clicked).attr("data-member")
        console.log(member)
    $(modal).modal()
    })
</script>

{% endblock %}


<!--<div class="col-lg-4 col-md-6">-->
<!--<div class="member" data-aos="fade-up">-->
<!--<div class="pic"><img src="{% static 'img/team/team-1.jpg' %}" class="img-fluid" alt=""></div>-->
<!--<div class="member-info">-->
<!--<h4>Walter White</h4>-->
<!--<span>Chief Executive Officer</span>-->
<!--<div class="social">-->
<a href=""><i class="icofont-twitter"></i></a>
<a href=""><i class="icofont-facebook"></i></a>
<a href=""><i class="icofont-instagram"></i></a>
<a href=""><i class="icofont-linkedin"></i></a>
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->

