.card-container {
    perspective: 700px;
    width: fit-content;
    margin: auto;
}

.card {
    box-shadow: 1.25rem 1.25rem 1.5rem 0.25rem rgba(0,0,0,.25)!important;
    border: none;
}

.card-flip, .card-container {
    transform-style: preserve-3d;
    transition: all 0.7s ease;
}

.card-flip div {
    backface-visibility: hidden;
    transform-style: preserve-3d;
}



.card-container:hover .card-flip {
    transform: rotateY(180deg);
    transition-delay: 0.75s;
}

.card-flip {
    display: grid; grid-template: 1fr / 1fr;
    grid-template-areas: "frontAndBack";
    transform-style: preserve-3d;
    transition: all 0.7s ease;
}

.front {
    grid-area: frontAndBack;
}

.back {
    transform: rotateY(-180deg);
    grid-area: frontAndBack;
    transform: rotateY(-180deg);
}

.description {
    padding: 10px;
    padding-top: 30px;
}