{% extends 'Intranet/base.html' %}
{% block title %} | Wachtwoord veranderen{% endblock %}

{% block body %}
<div class="body-padding">
    <section id="services" class="services">
        <div class="container">
            <div class="row pb-5">
                <div class="col-sm-12">
                    <h3>Wachtwoord veranderen</h3><br>
                    {% if form.errors %}
                        <ul>
                            {% for error in form.errors %}
                                {% if error|escape == "old_password" %}
                                    <li><strong>Your old password is incorrect.</strong></li>
                                {% elif error|escape == "new_password2" %}
                                    <li><strong>Your new password does not meet the conditions. Please read the conditions.</strong></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <form method="post">
                        {%  csrf_token %}
                        <div class="form-group row col-sm-12">
                            <label class="col-sm-3" for="id_old_password">Huidig wachtwoord:</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="id_old_password" name="old_password" type="password" />
                            </div>
                        </div>
                        <div class="form-group row col-sm-12">
                            <label class="col-sm-3" for="id_new_password1">Nieuw wachtwoord:</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="id_new_password1" name="new_password1" type="password" />
                                <small class="form-text text-muted">
                                    Je nieuwe wachtwoord mag niet te veel lijken op je oude.<br />
                                    Je nieuwe wachtwoord moet minstens 8 karakters lang zijn.<br />
                                </small>
                            </div>
                        </div>
                        <div class="form-group row col-sm-12">
                            <label class="col-sm-3" for="id_new_password2">Nieuw wachtwoord bevestigen:</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="id_new_password2" name="new_password2" type="password" />
                            </div>
                        </div>
                        <div class="offset-md-2 col-sm-4">
                            <button class="btn btn-block btn-success" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}

