{% extends 'Intranet/base.html' %}
{% block title %} | Intranet{% endblock %}
{% block body %}
    <div class="body-padding">
        <section id="services" class="services">
            <div class="container">
                <h1 class="pb-5">Welkom {{ user.username }}</h1>
                <p>
                    Vanaf heden hebben wij ons eigen intranet met een stemplatform! Het stemmen is volledig anoniem. De
                    gewichten van
                    jullie stemmen worden door ons manueel aangepast, jullie hoeven hier niets voor te doen.
                    <br/><br/>
                    Jullie stemrecht wordt pas geactiveerd wanneer jullie aanwezig zijn op de verkiezing.
                    <br><br>
                </p>

                <!-- Module Icons Section -->
                <div class="row">
                    <div class="col-lg-6 mb-4">
                        <div class="card h-100" style="text-align: center;">
                            <h4 class="card-header">Profiel</h4>
                            <div class="card-body">
                                <p class="card-text">Profiel aanpassen</p>
                            </div>
                            <div class="card-footer" style="text-align: center;">
                                <a href="{% url 'Intranet:edit_profile' %}" class="btn btn-primary">Meer</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="card h-100" style="text-align: center;">
                            <h4 class="card-header">Stemmen</h4>
                            <div class="card-body">
                                <p class="card-text">Verkiezingsmodule</p>
                            </div>
                            <div class="card-footer" style="text-align: center;">
                                <a href="{% url 'Intranet:voting' %}" class="btn btn-primary">Meer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}