{% extends 'Intranet/base.html' %}

{% block body %}
<div class="body-padding">
    <section id="services" class="services">
        <div class="container">
            <div class="row pb-5">
                <div class="col-sm-12">
                    {% if validlink %}
                    <h3>Wachtwoord veranderen</h3>
                    <!--{% if error_messages %}-->
                    <p><strong>{{ error_messages }}</strong></p>
                    <!--{% endif %}-->
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="row">
                                <label for="id_new_password1" class="control-label col-sm-3">Nieuw wachtwoord:</label>
                            </div>

                            <div class="row">
                                <div class="col-sm-4">
                                    <input type="password" class="form-control" id="id_new_password1"
                                           name="new_password1"
                                           required>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col">
                                {{ form.new_password1.help_text }}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label for="id_new_password2" class="control-label col-sm-3">Nieuw wachtwoord
                                    bevestigen:</label>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <input type="password" class="form-control" id="id_new_password2"
                                           name="new_password2"
                                           required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4 pt-4">
                                <button class="btn btn-block btn-success" type="submit">Bevestig</button>
                            </div>
                        </div>
                    </form>
                    {% else %}
                    <p>
                        De gebruikte link is ongeldig, mogelijks is deze al gebruikt. Vraag een nieuwe link aan, en
                        <a href="{% url 'Intranet:password_reset' %}">probeer het opnieuw</a>.
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</div>


{% endblock %}

error_messages = {
'password_mismatch': _('The two password fields didn’t match.'),
}
new_password1 = forms.CharField(
label=_("New password"),
widget=forms.PasswordInput(attrs={'autocomplete': 'new-password'}),
strip=False,
help_text=password_validation.password_validators_help_text_html(),
)
new_password2 = forms.CharField(
label=_("New password confirmation"),
strip=False,
widget=forms.PasswordInput(attrs={'autocomplete': 'new-password'}),
)
<p><label for="id_subject">Subject:</label>
    <input id="id_subject" type="text" name="subject" maxlength="100" required></p>
<p><label for="id_message">Message:</label>
    <textarea name="message" id="id_message" required></textarea></p>
<p><label for="id_sender">Sender:</label>
    <input type="email" name="sender" id="id_sender" required></p>
<p><label for="id_cc_myself">Cc myself:</label>
    <input type="checkbox" name="cc_myself" id="id_cc_myself"></p>
from django import forms

class ContactForm(forms.Form):
subject = forms.CharField(max_length=100)
message = forms.CharField(widget=forms.Textarea)
sender = forms.EmailField()
cc_myself = forms.BooleanField(required=False)


