{% extends 'Intranet/base.html' %}

{% block body %}
<div class="body-padding">
    <section id="services" class="services">
        <div class="container">
            <div class="row pb-5">
                <div class="col-sm-12">
                    <p>
                        We hebben een email gestuurd met instructies om je wachtwoord te resetten. Indien er geen
                        account gelinkt is aan dit emailadres, zal je uiteraard geen email ontvangen.
                    </p>
                    <p>
                        Als je geen email hebt ontvangen, gelieve te controleren dat je het juiste emailadres hebt
                        ingegeven, of bekijk je spam.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}