{% extends 'Intranet/base.html' %}

{% block body %}
<div class="body-padding">
    <section id="services" class="services">
        <div class="container">
            <div class="row pb-5">
                <div class="col-sm-12">
                    <p>
                        Je wachtwoord is reset. <a href="{% url 'Intranet:login_user' %}">Ga verder naar de login
                        pagina.</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}